* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1e293b;
  font-size: 1rem;
}

body.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
/* HEADER SECTION */

a {
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

header.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
  box-shadow: 0 4px 4px rgba(106, 106, 106, 0.1);
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.nav > a {
  text-align: center;
}

#company-name {
  color: #2563eb;
}
.nav > a {
  color: black;
}

main.main {
  grid-area: main;
}

/* SECTION 1: INNOVATE YOUR FUTURE WITH TECH VENTURE*/

.hero {
  margin: 3%;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.hero > div {
  margin: 1rem;
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10%;
  grid-template-areas:
    "h1 h1"
    "p p"
    "button1 button2";
}

.hero > div > h1 {
  grid-area: h1;
}

.hero > div > p {
  grid-area: p;
}

.hero > div > button {
  height: auto;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  border: #2563eb 2px solid;
  box-shadow: #aca3a3 0.5px 0.5px 0.5px 0.5px;
}

#button1 {
  grid-area: button1;
  background-color: #2563eb;
  color: white;
}
#button2 {
  grid-area: button2;
  background-color: white;
  color: #2563eb;
}

button {
  margin-bottom: 1rem;
}

/* SECTION 2: FEATURES */

.features-section {
  background-color: #f0f0f0;
  margin: 1rem;
  text-align: center;
}

.features-section > h1 {
  padding: 2rem;
}

.features-section > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.features-section > div > article {
  max-width: 15rem;
  border: 1px solid rgb(255, 255, 255);
  padding: 1rem;
  margin: 1rem 1rem;
  background: white;
  border-radius: 0.7rem;
  box-shadow: 1px 1px 10px 1px #aca3a3;
}

.features-section > div > article > h3 {
  margin: 10px;
}

.fa-solid {
  font-size: 2rem;
  margin: 2rem;
  color: #2563eb;
}

/* SECTION 3: ABOUT */

.about-section {
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.stats-info {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.stats-info > article {
  padding: 1rem;
  max-width: 12rem;
}

.stats-info > article > h2 {
  font-size: 2em;
}

.stats-info > article > p {
  font-size: 1em;
  margin: 5%;
}

.about-section > div {
  max-width: 900px;
}

.about-section > div > h1 {
  margin: 5%;
}

.stats-info > article > h2 {
  color: #2563eb;
}

/* FOOTER */

footer.footer {
  background-color: #1e293b;
  grid-area: footer;
}

footer > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3%;
  justify-content: space-evenly;
}

.footer-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem 1rem;
}

.footer > div > section > p,
h4 {
  color: white;
}

.quick-links > h4 {
  margin-bottom: 1rem;
}

.footer > p {
  color: #94a3b8;
  text-align: center;
  padding-top: 1rem;
  margin: 0.5rem;
  border-top: 1px solid #94a3b8;
}

.footer-nav > a {
  color: white;
}

.contact-info > h4 {
  margin-bottom: 1rem;
}

#logo {
  color: #2563eb;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* IMAGES */
img {
  margin: 1rem;
  width: 50%;
  height: 50%;
}

/* MEDIA QUERIES */

/* Small tablets and up (481px+) */
@media screen and (min-width: 481px) {
  header.header {
    flex-direction: column;
  }
  section.hero {
    flex-wrap: wrap;
  }
  footer > div {
    flex-direction: row;
  }
}

/* Large tablets and up (768px+) */
@media screen and (min-width: 768px) {
  header.header {
    flex-direction: row;
  }
  section.hero {
    flex-wrap: nowrap;
  }
}

/* Desktop and up (1024px+) */
@media screen and (min-width: 1024px) {
}

/* Large desktop (1200px+) */
@media screen and (min-width: 1200px) {
}
